.orange-color {
    color: orange;
}

.orange-color:hover {
    color: rgb(224, 200, 155);
}

h1, h2 {
    color: #0000ff;
}

h1:hover {
    color: aqua;
    cursor: pointer;
}

p {
    color: green;
}

.card img {
    width: 200px;
    height: 200px;
    border: 5px solid red;
    margin: 10px 40px 20px 30px;
    padding: 10px;
}