* {
    box-sizing: border-box;
    margin: 0;
}


body {
    background-color: #BBB;
}

.block {
    width: 280px;
    height: 200px;
    margin: 20px;
    background-color: #fff;
}

.block-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.block:hover {
    border: 2px solid red;
}